* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* Set a background image for the entire body */
  background-image: url('https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png');
  background-size: cover; /* Ensure the background covers the entire area */
  background-repeat: no-repeat; /* Prevent repeating the background */
  background-attachment: fixed; /* Keep the background fixed while scrolling */
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 12px;
  /* Optionally add a semi-transparent background for better readability */
  /* background-color: rgba(255, 255, 255, 0.8); White background with 80% opacity */
  border-radius: 8px; /* Slightly round the corners */
}

.grid {
  display: grid;
  gap: 12px; /* Increased gap for better spacing */
  margin: 0 auto;
}

.cell {
  /* background: #ddd; */
  /* Optionally add padding or border to cells */
  padding: 20px;
  border-radius: 4px; /* Slightly round the corners of the cells */
}
 
.fixed-mint-button {
  position: fixed; /* Fixe le bouton par rapport à la fenêtre du navigateur */
  top: 20px; /* Distance du haut de la fenêtre */
  right: 20px; /* Distance de la droite de la fenêtre */
  z-index: 1000; /* S'assure que le bouton soit au-dessus des autres éléments */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Ombre pour un effet flottant */
  padding: 10px 20px; /* Padding pour agrandir le bouton */
}
